In [17]:
import pandas as pd
import numpy as np

In [18]:
path = "C:/Users/ABDULRASHID/Downloads/used_cars/quikr_car.csv"
df = pd.read_csv(path)
df.shape

(892, 6)

In [19]:
df.head()

,Name of car,Company name,Year,Price,Kms driven,Fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000",Diesel

In [2]:
# df["kms drivien"].mean()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name of car   892 non-null    object
 1   Company name  892 non-null    object
 2   Year          892 non-null    object
 3   Price         892 non-null    object
 4   Kms driven    840 non-null    object
 5   Fuel_type     837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [22]:
# 1. Average kilometer driven for hundai cars
# 2. which hyundai car has the highest sales price
# 3. which cheapest diesel driven car with the least kilometer driven

In [23]:
# check for null values
df.isna().sum()

Name of car      0
Company name     0
Year             0
Price            0
Kms driven      52
Fuel_type       55
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name of car   892 non-null    object
 1   Company name  892 non-null    object
 2   Year          892 non-null    object
 3   Price         892 non-null    object
 4   Kms driven    840 non-null    object
 5   Fuel_type     837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [25]:
b = df["Kms driven"].fillna("0")
b

0          45,000
1              40
2      22,000 kms
3          28,000
4          36,000
          ...
887             0
888        27,000
889        40,000
890        Petrol
891        Petrol
Name: Kms driven, Length: 892, dtype: object

In [26]:
arr_driven = []
for i in b.values:
    d = i.split()[0]
    arr_driven.append(d)
arr_driven[:5]

['45,000', '40', '22,000', '28,000', '36,000']

In [27]:
new_driven = []
for i in arr_driven:
    if i == "petrol":
        new_driven.append(0)
    else:
        new_driven.append(i)
new_driven[:5]

['45,000', '40', '22,000', '28,000', '36,000']

In [28]:
cleaned_val = []
for i in new_driven:
    f = i.split(",")
    k = "".join(f)
    cleaned_val.append(k)
cleaned_val[:5]

['45000', '40', '22000', '28000', '36000']

In [29]:
float_vals = [float(i) for i in cleaned_val]
#float_vals

ValueError: could not convert string to float: 'Petrol'

In [ ]:
df["Kms driven"] = float_vals

In [ ]:
df.head()

In [ ]:
#df["Kms driven"].mean()

In [ ]:
###question one

In [ ]:
hyundai = df[df['company name'] == 'Hyundai']
hyundai

In [ ]:
df.columns

In [ ]:
z = df['Price'].fillna("0")
z

In [ ]:
a = []
for i in z.values:
    if i == 'Ask for price':
        a.append("0")
    else:
        a.append(i)
a[:5]

In [ ]:
d_clean = []
for n in a:
    p = n.split(",")
    d = "".join(p)
    d_clean.append(d)
print(d_clean[:5])

In [ ]:
float_d = [float(i) for i in d_clean]
#float_d

In [ ]:
df["price"] = float_d

In [ ]:
df.head(10)

In [ ]:
new_arr_df = new_arr_df[df_arr["Company name"] == 'Hyundai']
new_arr_df

In [ ]:
###Question three

In [ ]:
##- Average price for each of the cars

In [ ]:
r = df.groupby('Company name')['price'].mean().sort_values(ascending=False).head(10)
r